@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a href=@TempData["url"]>Click here</a>
@Html.ActionLink("Back to Home","Index","XSSAttack",null,new{@class="btn btn-danger p-2"})

